<head>
    {% include css.html %}
    <title>Kyle Kirkby &bull; Innovative Web Developer</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% seo title=false %}
    <script async src="/assets/js/googleads.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-6027652294891289",
        enable_page_level_ads: true
      });
    </script>
</head>
