<div class="nav-side-menu">
    <a href="/blog/">
        <img src="/assets/images/logo.png" class="img-responsive side-panel-logo"/>
    </a>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">
          <a href="/blog/">
            <li class="collapsed {% if page.url == '/blog/' %}active{% endif %}">
                <i class="fa fa-home fa-lg "></i> Blog
            </li>
          </a>
            <a href="#">
              {% capture collapsed %}collapsed{% endcapture %}
              {% for cat in site.category %}
                {% if page.url == cat.url %}
                  {% capture collapsed %}none{% endcapture %}
                {% endif %}
              {% endfor%}
              <li data-toggle="collapse" data-target="#subjects" class="{{ collapsed }}">
                  <i class="fa fa-clone fa-lg "></i> Categories <span class="arrow"></span>
              </li>
            </a>
            <ul class="sub-menu collapse" id="subjects">
              {% for cat in site.category %}
                <a href="{{cat.url}}"><li class="{% if page.url == cat.url %}active{% endif %}">{{cat.title}}</li></a>
              {% endfor %}
            </ul>
            <a href="/about/">
              <li class="collapsed">
                  <i class="fa fa-user fa-lg "></i> About
              </li>
            </a>
            <a href="https://github.com/kylekirkby">
              <li  class="collapsed">
                  <i class="fa fa-github fa-lg "></i> Github
              </li>
            </a>
            <a href="http://hackaday.io/thegod">
              <li class="collapsed">
                <i class="fa fa-user fa-lg "></i> Hackaday.io
              </li>
            </a>
            <iframe src="https://open.spotify.com/follow/1/?uri=spotify:user:1123122295&amp;size=basic&amp;theme=dark" width="200" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
        </ul>
    </div>
</div>
