---
title: Kyle Kirkby - Blog
layout: default
---
<h1>{{page.title}}</h1>
<div class="row blog-row">
    {% for post in site.categories[page.category] %}
        <div class="col-sm-4">
            <a href="{{post.url}}">
                <div class="row blog-post">
                    <div class="blog-featured-image">
                        <img src="/assets/images/{% if post.image %}{{post.image.name}}{% else %}default.png{% endif %}" class="img-responsive blog-image" />
                    </div>
                    <div class="blog-info">
                        <div class="blog-title">
                            <h1>{{ post.title }}</h1>
                        </div>
                        <div class="blog-date">
                            <span class="date">
                                <small><em>{{post.date |  date: "%A, %B %-d, %Y"}}</em></small>
                            </span>
                        </div>
                        <div class="date-circle">
                            <span class="month">
                              {{post.date |  date: "%A, %B %-d, %Y"}}
                            </span>
                            <span class="year">
                              {{post.date |  date: "%A, %B %-d, %Y"}}
                            </span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
