---
---
<!DOCTYPE html>
<html>
{% include head.html %}
    <body>
        <div id="container"></div>
        <div id="floating-head-canvas">
        </div>
        	<div id ="universe"></div>
        	<div id="moon"></div>
			<map name="Map" id="Map">
    				<area alt="" title="" href="#" shape="poly" coords="417,461,435,471,453,476,476,475,496,470,510,464,522,456,530,448,537,444,546,426,554,406,557,396,556,376,555,370,552,356,544,341,539,333,520,313,510,306,499,301,489,298,478,296,470,296,463,296,453,297,445,299,437,302,425,306,414,313,407,321,398,329,390,339,385,350,380,365,380,375,378,394,382,409,385,419,395,439" />
			</map>
            <div id="logo"></div>
	            <div id="planetClickable">
					<ul class="nav nav-pills nav-stacked" id="nav">
						  <li role="presentation" class="active"><a href="/blog/">Blog</a></li>
						  <li role="presentation" class="active"><a href="/work/">Work</a></li>
						  <li role="presentation" class="active"><a href="/contact/">Contact</a></li>
					</ul>
				</div>
            <div id="spaceBody"class="planet"></div>
            <div id="shipWrapper">
            	<div id ="ship" class="animated fadeIn"></div>
            </div>
        {% include js.html %}
    </body>
</html>
